@use "global" as *;

.news{
    background-color: $gray;
}

.news__inner{
    padding: 0 rem(40);
    max-width: rem(600);
    width: 100%;
    margin: auto;

    @include mq(md){
        max-width: rem(970);
    }
}

.news__items{
    margin-top: rem(32);
}

.news__item{
    display: flex;
    align-items: center;
    padding: rem(14.5) 0;

    &:not(:last-child){
        border-bottom: 1px solid $white;
    }

    @include mq(md){

        border-bottom: 1px solid $white;

        &:first-child{
            border-top: 1px solid $white;
        }
    }

}

.news__time{
    font-size: rem(12);
    font-weight: $regular;
    color: $white;

    @include mq(md){
        font-size: rem(16);
    }
}

.news__text{
    font-size: rem(14);
    font-weight: $regular;
    color: $white;
    margin-left: rem(16);

    @include mq(md){
        margin-left: rem(104);
        font-size: rem(16);
    }
}

.news__btn{
    text-align: center;
    margin-top: rem(48);
}