@use "global" as *;

.section-title{
    text-align: center;
}

.section-title__en{
    font-size: rem(18);
    font-weight: $regular;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.08em;

    @include mq(md){
        font-size: rem(24);
    }
}

.section-title__ja{
    font-size: rem(16);
    font-weight: $regular;
    color: $white;
    letter-spacing: 0.08em;
}
